<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.myschool" >
    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="21"/>
    <application
        android:icon="@drawable/app"
        android:label="@string/app_name"
        android:theme="@style/app_theme" >
        <activity
            android:name=".LoadingMainActivity"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ZklActivity" />
        <activity android:name=".MyTableActivity" />
        <activity android:name=".YaoYiYaoActivity" />
        <activity android:name=".MyTableListActivity" />
        <activity android:name=".AddMyTableActivity" />
        <activity android:name=".AddMyTableDetailActivity" />
        <activity android:name=".UpdateMyTableDetailActivity" />
        <activity android:name=".MyTableDetailActivity" />
        <activity android:name=".ChartToday" />

    </application>

</manifest>
